<mat-card-title>
  My Current Cart!
</mat-card-title>

<mat-card>
  You purchase will cost: {{totalPrice}} €
</mat-card>

<!-- <mat-grid-list cols="1" rowHeight="50px"><mat-chip-list>
    <mat-grid-tile *ngFor="let book of currentListOfBooks" ><mat-chip color="primary" selected>{{book.title}}</mat-chip></mat-grid-tile>
</mat-chip-list></mat-grid-list> -->

<div class='buttons'>
  <mat-chip color="primary" (click)="goToWelcomePage()" class='btnReturn' selected>Continue purchase</mat-chip>
  <mat-chip color="primary" (click)="submitCart()" class='btnBuy' selected>Buy</mat-chip>
</div>


