table {
  width: 100%;
}

.card-title {
  margin-bottom: 25px;
  margin-left: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

i {
  cursor: pointer;
}

mat-chip {
  cursor: pointer;
}
